<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
</head>
<body>
    <img src="https://www.humepartners.com.au/wp-content/uploads/2019/02/404-page-04.png" alt="Page Not Found" style="width:1500px;height:800px;">
</body>
</html>